---
---

@import "mixins";

// COLORS
$cyan: #8FBCBB;
$lightcyan: #73c5e2;
$green: #73d216;
$lightgreen: #add488;
$lightyellow: #fdc35f;
$blue: #8FBCBB;
$lightblue: #8ca9bf;
$red: #FC4138;
$lightred: #e16f7e;
$orange: #F27835;

$primary_light: #d3dae3;
$primary_dark: #404552;
$secondary_dark: #2f343f;
$secondary_light: #a9a9aa;
$tertiary_dark: #232831;
$accent: $blue;

// darkreader colors
// $primary_light : #d8d4cf;
// $primary_dark : #2A2E2F;
// $secondary_dark : #121414;
// $secondary_light : rgb(186, 180, 171);

// BASE
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $secondary_dark;
  // background-color: $primary_dark;
}

.main {
  @include flexCenter(column);
  @include centerWidth;
  margin: 8em auto;
  font-size: 1.125rem;
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1.6;
  text-align: center;
  color: $primary_light;
}

.content {
  text-align: left;
}

a {
  text-decoration: none;
  color: $cyan;
  font-weight: bold;
}

li {
  margin-bottom: 15px;
}

// HEADER
.navbar {
  font-family: monospace;
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
  background-color: $tertiary_dark;
  display: flex;
  justify-content: center;
}

.navbar-inner {
  @include centerWidth;
  display: flex;
  justify-content: space-between;
  * {
    color: $primary_light;
  }
}

#title {
  margin: auto auto auto 0;
  font-size: 30px;
}

#title-accent {
  color: $accent;
}

.nav-toggle {
  display: none;
}

// FOOTER
footer {
  margin-top: 5em;
  font-family: monospace;
  font-size: 1rem;
  color: $secondary_light;
}

// FEED
.feed {
  text-align: left;
  li {
    list-style: none;
    padding-bottom: 2em;
  }
}

// CARDS
.card-container {
  // This class also taken from https://nixnet.services
  width: 80%;
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.8fr));
  grid-gap: 20px;
  justify-content: center;
}

.card {
  background-color: $primary_dark;
  border-radius: 8px;
  padding: 0 1em;
  text-align: left;
  // Shadows taken from https://nixnet.services/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 30%);
  transition: box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 0.615em;
    padding-bottom: 5px;
  }
  p {
    margin: 0.625em;
  }
}
// Shadows taken from https://nixnet.services/
.card:hover {
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 50%);
  transition: box-shadow 0.3s;
}

.button {
  margin: auto auto 1em auto;
  padding: 0.25rem 1.625em;
  border: 2px solid $primary_light;
  border-radius: 100vw;
  background-color: $primary_light;
  color: $primary_dark;
  transition: color, background-color 0.2s;
}

.card > .button {
  margin-top: auto;
}

.button:hover,
.button:focus {
  background-color: $secondary_dark;
  color: $primary_light;
  transition: color, background-color 0.2s;
}

.page--title {
  margin-bottom: 4em;
  * {
    padding: 0;
  }
  h1 {
    font-family: serif;
    font-size: 4rem;
    margin: 5px;
  }
  p {
    font-family: monospace;
    font-size: 1.25rem;
    color: $secondary_light;
    margin-top: -10px;
  }
}

.post-preview--title {
  color: $blue;
  font-family: serif;
  font-weight: 900;
  font-size: 1.125rem;
  vertical-align: middle;
}

.post-preview--date {
  font-family: serif;
  font-size: 1.1rem;
  color: $secondary_light;
  float: right;
  vertical-align: middle;
}
.post-preview--content {
  color: $primary_light;
  font-weight: normal;
  text-indent: 40px;
}

.notice {
  @include centerWidth;
  margin-top: 70px;
  margin-bottom: 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.2rem;
}

.notice--notice {
  border: 1px solid $green;
  color: $lightgreen;
}
.notice--warning {
  border: 1px solid $orange;
  color:  $orange;
}
.notice--urgent {
  border: 1px solid $red;
  color: $lightred;
}

.toc {
  border: 1px solid $primary_light;
  width: 200px;
  padding-left: 5px;
  margin-bottom: 2em;
  * {
    margin: 0;
  }
  a {
    font-size: 0.9rem;
  }
  ol {
    line-height: 2;
  }
  a:hover {
    text-decoration: underline;
  }
}

#toc {
  text-align: center;
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  .toc {
    float: right;
  }
  #links {
    hr {
      display: none;
    }
    ul {
      display: flex;
      list-style: none;
    }
    li {
      margin: 0 15px;
      font-size: 1.1875rem;
    }
    li:hover {
      color: $secondary_light;
      border-bottom: 2px solid $secondary_light;
    }
  }
}

pre {
  background-color: $tertiary_dark;
  padding: 1.5em;
  border-radius: 8px;
  border: double $secondary_light;
  display: grid;
}

code {
  // background-color: $secondary_dark;
  // padding: 0.2em;
}

@media screen and (max-width: 800px) {
  #links {
    font-size: 1rem;
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    background-color: $tertiary_dark;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    li {
      padding-right: 2em;
    }
    li:hover {
      background: $primary_light;
      color: $secondary_dark;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    a {
      text-decoration: none;
      font-weight: bold;
      color: $primary_light;
      li {
        padding: 10px;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
      }
    }
  }

  .nav-toggle:checked ~ div #links {
    transform: scale(1, 1);
  }

  .nav-toggle:checked ~ div #links a li {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }

  .nav-toggle-label {
    background: $tertiary_dark;
    position: absolute;
    right: 1em;
    padding: 1em;

    span {
      margin-top: 10px;
    }
    span,
    span::before,
    span::after {
      position: relative;
      display: block;
      background-color: $primary_light;
      height: 2px;
      width: 2em;
      border-radius: 2px;
    }

    span::before,
    span::after {
      content: "";
      position: absolute;
    }
    span::before {
      top: 8px;
    }
    span::after {
      bottom: 8px;
    }
  }
}

// PSEUDO ELEMENT STUFF
::selection {
  background-color: $lightblue !important;
  color: $primary_light !important;
}
// ::-webkit-scrollbar {
//   background-color: $secondary_dark;
//   color: $secondary_light;
// }
// ::-webkit-scrollbar-corner {
// background-color: #181a1b;
// }
// ::-webkit-scrollbar-thumb {
// background-color: $primary_dark;
// }
