---
layout: "home"
title: "home"
subtitle: "~/."
---


<div>
  These are some open source web services that I run my own instances of--mostly
  for personal use, but feel free to use the search engines (:
  <br />
  <br />
  <!-- Used to have some more services, but my either upload speed is too low to be usable (NextCloud, filebrowser, seafile), -->
  <!-- <br /> -->
  <!-- or I just had no use for em (jellyfin, streama, polr, shlink) -->
  <!-- <br /> -->
  <!-- <br /> -->
  <!-- Please use an app for -->
  <!-- <!-1- Nextcloud (<a href="https://play.google.com/store/apps/details?id=com.nextcloud.client">official app</a>) and -1-> -->
  <!-- Airsonic (<a href="https://play.google.com/store/apps/details?id=com.ghenry22.substream2">like substream</a>) -->
  <!-- instead of the web interfaces. We only get 10Mbps up, and the apps take less bandwidth <br /><br /> -->
</div>
<!-- <a href="https://uptime.terp.digital/status" class="button">Status</a> -->
    {% for notice in site.data.notices %}
    <div class="card notice notice--{{ notice.urgency }}">
      <h3 class="card-title">{{ notice.event }}</h3>
      {% if notice.description %}
      <p>{{ notice.description }}</p>
      {% endif %} {% if notice.short %}
      <p>({{notice.short}})</p>
      {% endif %}
    </div>
    {% endfor %}
<div class="card-container">
  {% for service in site.data.services %}
  <div class="card">
    <h3 class="card-title">{{ service.name }}</h3>
    <hr style="width: 100%; margin: 0 0 10px" />
    {% if service.description %}
    <p>{{ service.description }}</p>
    {% endif %} {% if service.short %}
    <p>({{service.short}})</p>
    {% endif %} {% if service.badge %}
    <iframe src={{service.badge}}></iframe>
    {% endif %}
    <a href="{{ service.url }}" class="button">Go</a>
  </div>
  {% endfor %}
</div>
