
<footer>
<p>* * *</p>
  <p>Source available on <a href="{{ site.git }}">{{ site.git | split: "//" | last | split: "/" | first  }}</a></p>
<p>Made with <a href="https://jekyllrb.com/">Jekyll</a>, much inspired by <a href="https://nixnet.services">NixNet</a>.</p>
<p><a href="/feed.xml">Subscribe via RSS</a></p>
</footer>
