<div class="navbar">
  <input type="checkbox" id="nav-toggle" class="nav-toggle" />
  <div class="navbar-inner">
    <div id="title"><a href="/"><span id="title-accent">terp</span>.digital</a></div>
    <div id="links">
      <hr />
      <ul>
        {% for page in site.pages %} {% if page.layout == "page" %}
        <a href="{{ page.url }}"><li>{{ page.title | capitalize }}</li></a>
        {% endif %} {% endfor %}
      </ul>
    </div>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </div>
</div>

