@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  flex-direction: $direction;
}

@mixin centerWidth {
  width: 100%;
  max-width: calc(min(70em, 90%));
  margin-left: auto;
  margin-right: auto;
}

