<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name='robots' content='noindex,follow' />
    <title>
      {% if page.title %} {{ page.title | capitalize }} {% endif %} | {% if
      site.title %}{{ site.title }}{% endif %}
    </title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
  </head>
  <body>
    <div class="main">
      {% include header.html %}
      <div class="page--title">
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
        <p>{{ page.subtitle }}</p>
        {% endif %}
      </div>
      {{ content }} {% include footer.html %}
    </div>
  </body>
</html>
